.DS_Store
.*
.ipynb_checkpoint/
DHFES/__pycache__/
DHFES/membershipFun/__pycache__/
FNS/__pycache__/
membershipFun/__pycache__
IVFNS/__pycache__
InteractionFNS/__pycache__
InteractionFNS/

membershipFun/__pycache__/__init__.cpython-39.pyc
membershipFun/__pycache__/generateMF.cpython-39.pyc
